.main-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .main-box {
    font-size: larger;
    /* color: red; */
  }
  
  .main-box * {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  input {
    display: inline-block;
  }
  
  .main-box input {
    width: 400px;
    height: 30px;
  }
      