* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba(0, 0, 0, 0);
  position: relative;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.image-text {
  position: absolute;
  top: 40%;
  left: 3%;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #006400;
  font-size: 2rem;
  opacity: 0;
  animation: fadeIn 3s forwards;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.explore-button {
  position: absolute;
  left: 20%;
  top: 100%;
  padding: 10px 20px;
  font-size: 18px;
  animation: slideIn 4s forwards;
}

.explore-button {
  background-color: #ffffff00;
  color: #eee;
  width: 8.5em;
  height: 2.9em;
  border: #61dafb 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.explore-button:hover {
  background-color: #61dafb;
  cursor: pointer;
}

.explore-button .arrow {
  width: 1.6em;
  margin: 5px 10px 10px 10px;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.explore-button:hover .arrow {
  transform: translateX(5px);
}

.dots-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #333;
}
.slide-1,
.slide-2,
.slide-3,
.slide-4,
.slide-5 {
  width: 600px;
  font-size: 3rem;
  font-weight: 700;
  font-style: oblique;
  font-family: Arial;
  text-shadow: #d4fffc 1px 0 3px;
}
.slide-1 .explore-button {
  top: 100%;
}
