* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.menu-container {
  display: flex;
  align-items: center;
}
nav {
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo {
  font-size: 2rem;
  margin: 0;
  display: flex;
  align-items: center;
  color: #61dafb;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  margin-left: 20px;
}

.logo strong {
  color: #fff;
}

.logo svg {
  margin-right: 5px;
}

.logo:hover {
  transform: rotate(5deg);
  color: #4fa3d1;
}

.logo.scroll {
  transform: rotate(5deg);
}

.menu-container {
  display: flex;
  align-items: center;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  z-index: 1;
}

.nav-menu li {
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}

.nav-menu li:hover {
  transform: scale(1.1);
}
.nav-menu .nav-links {
  color: #111;
  font-size: 1.3rem;
}
.nav-menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.nav-menu a:hover {
  color: #61dafb;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 20px;
}

.btn {
  margin-left: 20px;
}

.login {
  background-color: #61dafb;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login:hover {
  background-color: #4fa3d1;
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu ul {
  padding: 0;
  margin: 0;
}

.nav-menu li {
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}

.nav-menu li:hover {
  transform: scale(1.1);
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.nav-menu a:hover {
  color: #61dafb;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .logo {
    font-size: 2rem;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 999;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
  }

  .nav-menu li {
    margin: 0;
  }

  .btn {
    margin-left: 0;
    margin-top: 10px;
  }
}
nav.scrolled {
  background-color: #b3b3b3;
}
.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 80px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  padding: 8px 0;
  /* margin-right: 100px; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  /* margin-right: 100px; */
}

.dropdown-content a:hover {
  background-color: #999;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}
