.footer {
  background-color: #57bcff;
  padding: 10px;
}
.footer .container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.footer .logo {
  font-size: 2rem;
  color: #222;
  margin-bottom: 30px;
  display: flex;
}
.footer p {
  font-size: 1rem;
  text-wrap: balance;
  color: #222;
}
.footer .icon {
  font-size: 2rem;
  color: #fff;
}
.footer .quick-links .links p {
  padding: 0;
  font-size: 1.2rem;
  margin-bottom: 30px;
  margin-top: 10px;
  border-bottom: 1px solid #000;
}
.quick-links .links {
  display: flex;
  flex-direction: column;
}
.links li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-links {
  color: #000;
  text-decoration: none;
}
.footer-links:hover {
  color: #fff;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-size:1.5rem;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin: 0 5px;
}

.child:hover {
  background-color: #fff;
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
  transform: perspective(180px) rotateX(60deg) translateY(2px);
  box-shadow: 0px 10px 10px rgb(1, 49, 182);
}

button {
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}

.button:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg)
    translateY(2px);
  border-radius: 50%;
}
.footer .social-list ul {
  padding-left: 0;
}
/********************************************************/
@media screen and (max-width: 768px) {
  .footer .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .parent {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
.parent {
  display: flex;
}
