/* .properties {
  margin: 20px;
}

.best {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ec851a;
  font-family: Arial, sans-serif;
}

.latest {
  font-size: 18px;
  margin-bottom: 20px;
  color: #555;
  font-family: Arial, sans-serif;
}

.apartments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.single {
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.single:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}
.single img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.single:hover img {
  transform: scale(1.1);
}

.single-text {
  padding: 10px;
}

.tag {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  background-color: #20c997;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
}

.icon {
  font-size: 18px;
  color: #888;
}

.property-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.property-city {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.property-details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bedrooms,
.bathrooms {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.buyer-tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buyer-tag .icon {
  font-size: 25px;
  margin-right: 5px;
  cursor: pointer;
  padding-top: 30px;
  text-align: center;
  margin-right: 20px;
}
.buyer-tag .icon:hover {
  transform: scale(1.1);
  color: red;
}
.price {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  padding-bottom: 5px;
  border-bottom: 1px solid #007bff;
}

@media screen and (max-width: 940px) {
  .apartments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
} */

.properties {
  margin: 20px;
}

.best {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ec851a;
  font-family: Arial, sans-serif;
}

.latest {
  font-size: 18px;
  margin-bottom: 20px;
  color: #555;
  font-family: Arial, sans-serif;
}

.apartments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.single {
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.single:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}
.single img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.single:hover img {
  transform: scale(1.1);
}

.single-text {
  padding: 10px;
}

.tag {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  background-color: #20c997;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
}
.tags {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.icon {
  font-size: 18px;
  color: #888;
}

.property-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.property-city {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.property-details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bedrooms,
.bathrooms {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.buyer-tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buyer-tag .icon {
  font-size: 25px;
  margin-right: 5px;
  cursor: pointer;
  padding-top: 30px;
  text-align: center;
  margin-right: 20px;
}
.buyer-tag .icon:hover {
  transform: scale(1.1);
  color: red;
}
.price {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  padding-bottom: 5px;
  border-bottom: 1px solid #007bff;
}

@media screen and (max-width: 940px) {
  .apartments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/********************************/

/* .popup {
  height: auto;
  width: 70%;
  background-color: red;
  position: absolute;
  top: 25%;
  right: 30%;
  left: 15%;
  padding: 30px;
}
.popup-icon {
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #007bff;
} */

/* Add this CSS to your stylesheets */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-header {
  position: relative;
  width: 80%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 80%;
  overflow-y: auto;
}
.popup-header img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}
.popup-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.popup-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}

.popup-icon:hover {
  color: #333;
}
.popup-header h4 {
  font-size: 2rem;
  color: #20c997;
}
.popup-content textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.popup-content input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.popup-content button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #45a049;
}
