.properties {
  margin: 20px;
}

.best {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ec851a;
  font-family: Arial, sans-serif;
}

.latest {
  font-size: 18px;
  margin-bottom: 20px;
  color: #555;
  font-family: Arial, sans-serif;
}

.apartments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.single {
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.single img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.single:hover img {
  transform: scale(1.1);
}

.single-text {
  padding: 10px;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tag {
  font-size: 14px;
  font-weight: bold;
  background-color: #20c997;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
}

.icon {
  font-size: 18px;
  color: #888;
}

.property-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.property-city {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.property-details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bedrooms,
.bathrooms {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.icon {
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}
@media screen and (max-width: 940px) {
  .apartments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
